

nav {
    display: flex;
    justify-content: left;
    background-color: transparent;
    padding: 1rem;
}
  
  nav a {
    color: #cfaef2; 
    text-decoration: none; 
    font-size: 30px;
    margin: 0 1rem;
    transition: color 0.3s ease, transform 0.3s ease; 
  }
  
  nav a:hover {
    color:  rgb(111, 41, 131);
    transform: scale(1.1);
  }

  
  
  